*{
    padding:0 ;
    margin: 0;
}
#sort{
    min-width: 1200px;
    /*height: 500px;*/
    background: #fff;
    padding:20px;
    /*border: 2px solid deepskyblue;*/
}
#sort .top{
    width: 1200px;
    line-height: 50px;
    /*height: 50px;*/
    padding: 5px 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#sort .top input{
    width: 180px;
    height: 18px;
    /*height: 20px;*/
    /*margin-top: 3px;*/
    /*float: left;*/
    /*display: block;*/
    border: 1px solid #ccc;

    cursor: pointer;
    background: url("../img/bg/spirit.png") 0 -372px  no-repeat;
}
.tag{
    width: 1200px;
    height: 140px;
}
.tag ul{
    margin:5px 8px;
}
.tag ul span{
    margin-left: 5px;
    cursor: pointer;
}
.male_contain{
    width: 1200px;
    margin: 0 auto;
}
.male_contain>.title{
    display: flex;
    flex-direction: row;
}
.title div{
    font-size: 14px;
    width: 50px;
    margin: 5px 15px;
    padding: 5px;
    border: 1px solid #c7c7c7;
    background-color: rgb(240, 240, 240);
    color: #444;
    text-align: center;
    cursor: pointer;
}
.selected{
    background-color: rgb(246, 45, 72)!important;
    color: #fff!important;
}
/*内容填充*/
.male_contain .con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;

}
.con ul{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

}
.con ul li{
    width: 230px;
    /*position: relative;*/
    height: 400px;
    margin: 15px 28px;
}
.con ul li .img{
    position: relative;
    width: 200px;
    height: auto;
}
.con ul li img{
    width: 230px;
}

.con ul li .tag{
    width: 200px;
    position: absolute;
    bottom: -70px;
    left: 0;
}
.con .price,.con .title{
    text-align: center!important;
}
.con .price .old{
    text-decoration:line-through;
    margin-left: 15px;
}
.con .price .now{
    font-size: 18px;
    color: rgb(246, 45, 72);
}