/*公共样式*/
*{
    padding: 0;
    margin: 0;
}
*{
    color:#333;
    font-size: 14px;
    font-family: "微软雅黑 Light";
}
a{
    text-decoration: none;

}
ul li{
    list-style: none;
}
.cur{
    /*border-bottom: none;*/
    padding: 5px 12px!important;
    color: rgb(68, 68, 68)!important;
}
/*导航头部样式*/
#header{
    min-width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 140px;
    background: rgba(152, 222, 216,1);
}
#header .img{
    width:30%;
    position: relative;
    top:10%
}
#header ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:deepskyblue;

}
#header ul li{
    /*border:1px solid red;*/
    /*border-bottom: 5px solid darkred;*/
    /*padding: 5px 18px;*/
}
/*banner布局*/
.banner {
    width: 1200px;
    height: 535px;
    margin: 50px auto;
    border: 5px solid deeppink;
    position: relative;
}
.all {
    position: absolute;
    width: 80px;
    height: 120px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 85px;
    text-decoration: none;
    top: 220px;
    cursor: pointer;
}
.l {
    left: 0;
}
.r {
    right: 0;
}
/*banner布局结束*/
/*首页内容*/
.content{
    /*border: 5px solid deeppink;*/
    width:1200px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}
.content .title {
    height: 30px;
    font-size: 2em;
    padding-left: 50px;
    line-height: 30px;
    border-left: 5px solid deeppink;
    margin: 15px 21px;
}
.content ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content ul li{
text-align: center;
}
.content ul li img{
    width: 350px;
}
/*返回顶部*/
#top{
    /*display: none;*/
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 29px;
    height: 49px;
    background-image: url("../img/bg/bg.png");
    background-position: 0 0;
}
#top:hover{
    background-position: 29px 0;

}
footer{
    min-width:1200px;
    height:100px;
    background:#333;
    text-align: center;
    padding-top:35px;
}
footer div{
    color:rgba(255,255,255,0.7);
}
footer span{
    color:deeppink;
    font-size: 22px;
}
footer div:last-child{
    font-size:18px;
}
/*电梯导航*/
#sideBar{
    display: none;
    position: fixed;
    width: 40px;
    height: 200px;
    background:RGBA(98, 98, 98,0.7);
    top:200px;
    left: 70px;
}
#sideBar ul{
    width: inherit;
    height: inherit;
}
#sideBar ul li{


    width: inherit;
    height: calc(100%/4);
    text-align: center;
    line-height:50px;
}
#sideBar a{
    color:white;
}