/*公共样式*/
*{
    padding: 0;
    margin: 0;
}
*{
    color:#333;
    font-size: 14px;
    font-family: "微软雅黑 Light";
}
a{
    font-size: 16px;
    text-decoration: none;

}

ul li{
    list-style: none;
}
.cur{
    /*border-bottom: none;*/
    padding: 5px 12px!important;
    color: rgb(68, 68, 68)!important;
}
/*顶部搜索*/
.sear{
    min-width: 1200px;
}
.search{
    width:750px;
    height:45px;
    background:#ff0036;
    margin:80px auto;
}
.search>input{
    width:580px;
    height:25px;
    margin-bottom:10px;
    margin-left:3px;
    outline:none;
    padding:3px;
}
.search>.searchBtn{
    width:130px;
    height:40px;
    background:#ff0036;
    border:none;
    outline:none;
    color:#fff;
    font-size:20px;
    font-weight: bold;
}
.searchbelow a{
    color:#999;
    margin:0 10px;
}
a:hover{
    text-decoration: none;
}
.redcolor{
    color:#ff0036 !important;
}
.sear{
    /*position: relative;*/
}
.logo{
    margin-left: 35px;
    margin-right: 20px;
    position: absolute;
    left:80px;
    top:20px;

}
/*搜索结束*/
/*导航头部样式*/
#header{
    z-index: 99;
    margin-bottom: 20px;
    background-color: #fff;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-bottom:3px solid rgba(246, 45, 72,1);
}
/*#header .img{*/
    /*width:30%;*/
    /*position: relative;*/
    /*top:10%*/
/*}*/
#header ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:deepskyblue;

}
#header ul li{
    /*border:1px solid red;*/
    /*border-bottom: 5px solid darkred;*/
    /*padding: 5px 18px;*/
}
#header ul li:nth-child(2) a{
    color: orange;
}
#header ul li:nth-child(3) a{
    color: deeppink;
}
#header ul li:nth-child(4) a{
    color: rgb(6, 180, 102);
}
/*隐藏二级菜单*/
#header li ul{
    z-index: 99;
    position: absolute;
    width: 80px;
    height: auto;
    padding:5px;
    text-align: center;
    background: white;
    display: none;
}
#header li:hover ul{
    display: block;
}
#header li ul li{
    padding: 5px;
}
#header li ul li:hover{
    border-bottom:5px solid red;
    padding:5px 12px;
    color: rgba(185, 36, 102,0.8);
}
#header li{
    position: relative;
}

    /*banner布局*/
.banner {
    width: 1200px;
    height: 535px;
    margin: 0px auto;
    position: relative;
}
.all {
    position: absolute;
    width: 80px;
    height: 120px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 85px;
    text-decoration: none;
    top: 220px;
    cursor: pointer;
}
.l {
    left: 0;
}
.r {
    right: 0;
}
/*banner布局结束*/
/*首页内容*/
.content{
    /*border: 5px solid deeppink;*/
    width:1200px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}
.content .title {
    height: 30px;
    font-size: 2em;
    padding-left: 50px;
    line-height: 30px;
    border-left: 5px solid deeppink;
    margin: 15px 21px;
}
.content ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content ul li{
text-align: center;
}
.content ul li img{
    width: 350px;
}
/*返回顶部*/
#top{
    /*display: none;*/
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 29px;
    height: 49px;
    background-image: url("../img/bg/bg.png");
    background-position: 0 0;
}
#top:hover{
    background-position: 29px 0;

}
footer{
    min-width:1200px;
    height:100px;
    background:#333;
    text-align: center;
    padding-top:35px;
}
footer div{
    color:rgba(255,255,255,0.7);
}
footer span{
    color:deeppink;
    font-size: 22px;
}
footer div:last-child{
    font-size:18px;
}
/*电梯导航*/
#sideBar{
    display: none;
    position: fixed;
    width: 40px;
    height: 200px;
    background:RGBA(98, 98, 98,0.7);
    top:200px;
    left: 70px;
}
#sideBar ul{
    width: inherit;
    height: inherit;
}
#sideBar ul li{
    width: inherit;
    height: calc(100%/4);
    text-align: center;
    line-height:50px;
}
#sideBar a{
    color:white;
}